:root{
--title-color:green;
--primary-color:#34cb79;
}
*{
    margin: 0;
    padding: 0;
}
html   {
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: whitesmoke;
}

a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
}
#page-home{
height: 100vh;


    background-image: url(../extras-aula-1/icones/home-background.svg) ;
    background-position: 416vw bottom;
}


header{
   margin-top: 48px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-home .content{
    height: 100%;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}
header a span{
    display: flex;
    background-image: url(../extras-aula-1/icones/log-in.svg);

    width: 20px;
    height: 20px;

}
 header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}
main{
    max-width: 560px;

    flex: 1;
height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main h1{
    font-size: 54px;
    color: var(--title-color);

}
#page-home p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}
main a{
    width: 100%;
    max-width: 360px;
    height: 52px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color:var(--primary-color);
    transition: 400ms;
    font-weight: bold;
    color: aliceblue;
}
main a:hover{
    background-color: #2fb86e;
}
/**main a span {
    width: 70px;
    height: 70px;
    background: aquamarine;
    display: flex;
}
main a span::after{
    content: "";
    background-image: url(../extras-aula-1/icones/search.svg);
    width: 20px;
    height: 20px;
}